html,body {
    font-size: 18px;
    min-width: 250px;
    text-align: center;
    color: #9394c2;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3 {
    font-size: 24px;
    font-family: sans-serif;    
}
#main {
    background: #0a1730;
    min-width: 250px;
    padding-top: 0.5em;
}

#introduction {
    max-width: 80vw;
    margin: auto;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

#img-div {
    background: #c5c5ee;
    border: 5px solid #9394c2;
    font-size: 15px;
    margin-left: 30%;
    margin-right: 30%;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 7px;
    width: 70%;
    height: auto;
    margin: auto;
}

#img-caption{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #0a1730;        
}   

#headline {
    
    max-width: 40vw;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;
}

#timeline {
    max-width: 40vw;
    margin: auto;
    text-align: left;
}

p {
    margin-bottom: -0.1em;
}

#endquote {
    margin-top: 2em;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3em;
    font-size: 16px;
}
#certificate-link {
    color: #9394c2;
}
#linkedin-link {
    color: #9394c2;
}
